In [1]:
import numpy
import pandas
from sklearn.ensemble import RandomForestRegressor
import datetime

In [2]:
factors = pandas.read_csv('Final Merge file.csv')
factors

,Unnamed: 0,date,stock_id,x21,x1,good fund,irisk,x20,x4,1M Return,2M Return,3M Return
0,0,2013-06-30 00:00:00+00:00,00130H105,-1027487.0,9.0,2.0,0.839918,128058539.0,0.798176,-0.034622,-0.046142,0.031842
1,1,2013-09-30 00:00:00+00:00,00130H105,-1960657.0,9.0,1.0,0.837995,-11942000.0,0.456100,0.045633,0.126254,0.084477
2,2,2013-12-31 00:00:00+00:00,00130H105,2062600.0,10.0,1.0,0.832036,40780660.0,0.342075,-0.001382,0.088036,0.137687
3,3,2014-03-31 00:00:00+00:00,00130H105,266891.0,10.0,2.0,0.835726,1291060.0,0.456100,0.046886,-0.015851,-0.031099
4,4,2014-06-30 00:00:00+00:00,00130H105,799495.0,9.0,2.0,0.841958,26689280.0,0.684151,0.102837,0.088936,0.126996
...,...,...,...,...,...,...,...,...,...,...,...,...
11294,11294,2018-12-31 00:00:00+00:00,Y09827109,-29936.0,4.0,1.0,0.858119,-6487000.0,0.226586,-0.092438,-0.122324,-0.100983
11295,11295,2019-03-31 00:00:00+00:00,Y09827109,-21499.0,7.0,2.0,0.858006,-936000.0,0.226586,-0.092438,-0.122324,-0.100983
11296,11296,2019-06-30 00:00:00+00:00,Y09827109,-17523.0,3.0,1.0,0.861501,-6299000.0,0.075529,-0.092438,-0.122324,-0.100983
11297,11297,2019-09-30 00:00:00+00:00,Y09827109,45587.0,5.0,2.0,0.853966,11642000.0,0.226586,-0.092438,-0.122324,-0.100983
11298,11298,2020-03-31 00:00:00+00:00,Y09827109,45587.0,5.0,2.0,0.853966,11642000.0,0.226586,-0.092438,-0.122324,-0.100983

In [3]:
factors['date'] = pandas.to_datetime(factors['date'])
factors = factors.set_index('date')
factors = factors[['stock_id','x21','x1','good fund','irisk','x20','x4','1M Return','2M Return','3M Return']]
factors

,stock_id,x21,x1,good fund,irisk,x20,x4,1M Return,2M Return,3M Return
date,,,,,,,,,,
2013-06-30 00:00:00+00:00,00130H105,-1027487.0,9.0,2.0,0.839918,128058539.0,0.798176,-0.034622,-0.046142,0.031842
2013-09-30 00:00:00+00:00,00130H105,-1960657.0,9.0,1.0,0.837995,-11942000.0,0.456100,0.045633,0.126254,0.084477
2013-12-31 00:00:00+00:00,00130H105,2062600.0,10.0,1.0,0.832036,40780660.0,0.342075,-0.001382,0.088036,0.137687
2014-03-31 00:00:00+00:00,00130H105,266891.0,10.0,2.0,0.835726,1291060.0,0.456100,0.046886,-0.015851,-0.031099
2014-06-30 00:00:00+00:00,00130H105,799495.0,9.0,2.0,0.841958,26689280.0,0.684151,0.102837,0.088936,0.126996
...,...,...,...,...,...,...,...,...,...,...
2018-12-31 00:00:00+00:00,Y09827109,-29936.0,4.0,1.0,0.858119,-6487000.0,0.226586,-0.092438,-0.122324,-0.100983
2019-03-31 00:00:00+00:00,Y09827109,-21499.0,7.0,2.0,0.858006,-936000.0,0.226586,-0.092438,-0.122324,-0.100983
2019-06-30 00:00:00+00:00,Y09827109,-17523.0,3.0,1.0,0.861501,-6299000.0,0.075529,-0.092438,-0.122324,-0.100983
2019-09-30 00:00:00+00:00,Y09827109,45587.0,5.0,2.0,0.853966,11642000.0,0.226586,-0.092438,-0.122324,-0.100983
2020-03-31 00:00:00+00:00,Y09827109,45587.0,5.0,2.0,0.853966,11642000.0,0.226586,-0.092438,-0.122324,-0.100983

In [4]:
pred_val = pandas.read_csv('3M return.csv')
pred_val

                               date   stock_id  3M return
0         2013-12-23 00:00:00+00:00  001038108   0.023255
1         2015-04-15 00:00:00+00:00  87243T100  -0.272727
2         2013-10-17 00:00:00+00:00  925490203   0.068493
3         2014-02-14 00:00:00+00:00  83607W102   0.000000
4         2014-07-25 00:00:00+00:00  320734106  -0.118870
...                             ...        ...        ...
20001331  2020-05-27 00:00:00+00:00  98979F107  -0.339271
20001332  2020-05-28 00:00:00+00:00  98979F107  -0.386451
20001333  2020-05-29 00:00:00+00:00  98979F107  -0.330361
20001334  2020-05-29 00:00:00+00:00  98979F107  -0.352361
20001335  2020-05-29 00:00:00+00:00  98979F107  -0.205942

[20001336 rows x 3 columns]

In [5]:
pred_val.columns = ['date','stock_id','pred']
pred_val

                               date   stock_id      pred
0         2013-12-23 00:00:00+00:00  001038108  0.023255
1         2015-04-15 00:00:00+00:00  87243T100 -0.272727
2         2013-10-17 00:00:00+00:00  925490203  0.068493
3         2014-02-14 00:00:00+00:00  83607W102  0.000000
4         2014-07-25 00:00:00+00:00  320734106 -0.118870
...                             ...        ...       ...
20001331  2020-05-27 00:00:00+00:00  98979F107 -0.339271
20001332  2020-05-28 00:00:00+00:00  98979F107 -0.386451
20001333  2020-05-29 00:00:00+00:00  98979F107 -0.330361
20001334  2020-05-29 00:00:00+00:00  98979F107 -0.352361
20001335  2020-05-29 00:00:00+00:00  98979F107 -0.205942

[20001336 rows x 3 columns]

In [6]:
pred_val['date'] = pandas.to_datetime(pred_val['date'])
pred_val= pred_val.set_index('date')

In [7]:
pred_val

                            stock_id      pred
date
2013-12-23 00:00:00+00:00  001038108  0.023255
2015-04-15 00:00:00+00:00  87243T100 -0.272727
2013-10-17 00:00:00+00:00  925490203  0.068493
2014-02-14 00:00:00+00:00  83607W102  0.000000
2014-07-25 00:00:00+00:00  320734106 -0.118870
...                              ...       ...
2020-05-27 00:00:00+00:00  98979F107 -0.339271
2020-05-28 00:00:00+00:00  98979F107 -0.386451
2020-05-29 00:00:00+00:00  98979F107 -0.330361
2020-05-29 00:00:00+00:00  98979F107 -0.352361
2020-05-29 00:00:00+00:00  98979F107 -0.205942

[20001336 rows x 2 columns]

In [8]:
pred_val.index = pred_val.index - pandas.DateOffset(months = 3)
pred_val

                            stock_id      pred
date
2013-09-23 00:00:00+00:00  001038108  0.023255
2015-01-15 00:00:00+00:00  87243T100 -0.272727
2013-07-17 00:00:00+00:00  925490203  0.068493
2013-11-14 00:00:00+00:00  83607W102  0.000000
2014-04-25 00:00:00+00:00  320734106 -0.118870
...                              ...       ...
2020-02-27 00:00:00+00:00  98979F107 -0.339271
2020-02-28 00:00:00+00:00  98979F107 -0.386451
2020-02-29 00:00:00+00:00  98979F107 -0.330361
2020-02-29 00:00:00+00:00  98979F107 -0.352361
2020-02-29 00:00:00+00:00  98979F107 -0.205942

[20001336 rows x 2 columns]

In [9]:
pred_table = pandas.pivot_table(pred_val, values = 'pred', index = ['date'],columns = 'stock_id',aggfunc = numpy.sum)
pred_table

stock_id,34958R19,46629U18,92549022,000144899,000279208,000303107,000304105,000307108,000360206,000361105,...,Y9013V159,Y9361F111,Y9381W102,Y9384M101,Y95308105,Y9532S109,Y9723Q102,Y9891F102,Y989DF109,Y9T10P105
date,,,,,,,,,,,,,,,,,,,,,
2013-02-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-02 00:00:00+00:00,-0.158420,-0.361702,NaN,NaN,0.0,NaN,0.348392,NaN,0.291957,-0.080537,...,0.0,0.040562,0.031674,NaN,NaN,0.506849,0.0,0.051613,NaN,NaN
2013-02-03 00:00:00+00:00,-0.155415,-0.315217,NaN,NaN,0.0,NaN,0.380282,NaN,0.316541,-0.063068,...,0.0,0.040562,0.031674,NaN,NaN,0.506849,0.0,0.051613,NaN,NaN
2013-02-07 00:00:00+00:00,-0.203301,-0.263954,NaN,NaN,0.0,NaN,0.352654,NaN,0.328222,-0.049620,...,0.0,0.040562,0.031674,NaN,NaN,0.479452,0.0,0.051613,NaN,NaN
2013-02-08 00:00:00+00:00,-0.325213,-0.252045,NaN,NaN,0.0,NaN,0.451212,NaN,0.322355,-0.040286,...,0.0,0.040562,0.031674,NaN,NaN,0.479452,0.0,0.051613,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-21 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,-0.99,-0.331665,-0.509002,-0.020057,-0.602394,...,NaN,NaN,NaN,NaN,0.407731,NaN,NaN,-0.191442,0.000000,NaN
2020-02-22 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,-0.99,-0.379141,-0.500000,-0.023607,-0.603978,...,NaN,NaN,NaN,NaN,0.425997,NaN,NaN,-0.191442,0.000000,NaN
2020-02-27 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,-0.99,-0.309479,-0.085714,0.029588,-0.521162,...,NaN,NaN,NaN,NaN,0.393574,NaN,NaN,-0.268746,0.000000,NaN
2020-02-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,-0.99,-0.335979,0.000000,0.009871,-0.534456,...,NaN,NaN,NaN,NaN,0.361646,NaN,NaN,-0.268746,0.542222,NaN
2020-02-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,-2.97,-0.868366,-0.214916,0.041409,-1.603185,...,NaN,NaN,NaN,NaN,1.248289,NaN,NaN,-0.616277,1.626667,NaN

In [10]:
pred_factor = pred_table.asfreq(freq = '1d', method = 'ffill').stack()
pred_factor

date                       stock_id
2013-02-01 00:00:00+00:00  18383Q747    0.412476
                           25459W151    4.360073
                           25459W318   -0.990158
                           268461852   -0.196000
                           303046106   -0.125000
                                          ...
2020-02-29 00:00:00+00:00  Y88965101    3.355618
                           Y8897Y164   -2.439909
                           Y95308105    1.248289
                           Y9891F102   -0.616277
                           Y989DF109    1.626667
Length: 45480210, dtype: float64

In [12]:
pred_factor = pandas.DataFrame(pred_factor)
pred_factor = pred_factor.reset_index('stock_id')
pred_factor

                            stock_id         0
date
2013-02-01 00:00:00+00:00  18383Q747  0.412476
2013-02-01 00:00:00+00:00  25459W151  4.360073
2013-02-01 00:00:00+00:00  25459W318 -0.990158
2013-02-01 00:00:00+00:00  268461852 -0.196000
2013-02-01 00:00:00+00:00  303046106 -0.125000
...                              ...       ...
2020-02-29 00:00:00+00:00  Y88965101  3.355618
2020-02-29 00:00:00+00:00  Y8897Y164 -2.439909
2020-02-29 00:00:00+00:00  Y95308105  1.248289
2020-02-29 00:00:00+00:00  Y9891F102 -0.616277
2020-02-29 00:00:00+00:00  Y989DF109  1.626667

[45480210 rows x 2 columns]

In [13]:
factors = pandas.merge(factors, pred_factor, 'right',on = ['date','stock_id'])
factors = factors.dropna()
factors

,stock_id,x21,x1,good fund,irisk,x20,x4,1M Return,2M Return,3M Return,0
date,,,,,,,,,,,
2013-06-30 00:00:00+00:00,00130H105,-1027487.0,9.0,2.0,0.839918,1.280585e+08,0.798176,-0.034622,-0.046142,0.031842,0.168954
2013-09-30 00:00:00+00:00,00130H105,-1960657.0,9.0,1.0,0.837995,-1.194200e+07,0.456100,0.045633,0.126254,0.084477,0.137687
2014-03-31 00:00:00+00:00,00130H105,266891.0,10.0,2.0,0.835726,1.291060e+06,0.456100,0.046886,-0.015851,-0.031099,0.126996
2014-06-30 00:00:00+00:00,00130H105,799495.0,9.0,2.0,0.841958,2.668928e+07,0.684151,0.102837,0.088936,0.126996,0.005674
2014-09-30 00:00:00+00:00,00130H105,1061556.0,9.0,2.0,0.838406,-1.421000e+06,0.570125,-0.063900,-0.088103,0.005674,-0.053360
...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 00:00:00+00:00,Y09827109,1427864.0,61.0,27.0,0.858612,3.098040e+08,2.265861,0.036835,0.024635,0.000342,0.290633
2017-03-31 00:00:00+00:00,Y09827109,1497676.0,59.0,28.0,0.858648,9.532270e+08,2.341390,0.047504,0.244781,0.290633,0.142796
2017-06-30 00:00:00+00:00,Y09827109,-931031.0,60.0,31.0,0.860360,1.312300e+07,2.190332,-0.027540,0.061738,0.142796,-0.016334
2017-09-30 00:00:00+00:00,Y09827109,4266231.0,77.0,35.0,0.858136,1.180789e+09,2.870091,0.003351,0.036319,-0.016334,0.062756
2017-12-31 00:00:00+00:00,Y09827109,-1875008.0,99.0,40.0,0.859313,-1.993160e+08,3.625378,-0.053775,0.059207,0.062756,-0.132044

In [14]:
factors.index.unique()

DatetimeIndex(['2013-06-30 00:00:00+00:00', '2013-09-30 00:00:00+00:00',
               '2014-03-31 00:00:00+00:00', '2014-06-30 00:00:00+00:00',
               '2014-09-30 00:00:00+00:00', '2015-03-31 00:00:00+00:00',
               '2015-06-30 00:00:00+00:00', '2015-09-30 00:00:00+00:00',
               '2015-12-31 00:00:00+00:00', '2016-03-31 00:00:00+00:00',
               '2016-06-30 00:00:00+00:00', '2016-09-30 00:00:00+00:00',
               '2016-12-31 00:00:00+00:00', '2017-03-31 00:00:00+00:00',
               '2017-06-30 00:00:00+00:00', '2017-09-30 00:00:00+00:00',
               '2017-12-31 00:00:00+00:00', '2018-03-31 00:00:00+00:00',
               '2018-06-30 00:00:00+00:00', '2018-09-30 00:00:00+00:00',
               '2018-12-31 00:00:00+00:00', '2019-03-31 00:00:00+00:00',
               '2019-06-30 00:00:00+00:00', '2019-09-30 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='date', freq=None)

In [18]:
factors.columns = ['stock_id','x21','x1','good fund','irisk','x20','x4','1M Return','2M Return','3M Return','return']
train = factors[:'2017,10,01']
test = factors['2017,10,01':]
feat = ['x21','x1','good fund','irisk','x20','x4','1M Return','2M Return','3M Return']
train_feature = train[feat]
train_return = train['return']
test_feature = test[feat]
test_return = test['return']

In [19]:
train_feature

,x21,x1,good fund,irisk,x20,x4,1M Return,2M Return,3M Return
date,,,,,,,,,
2013-06-30 00:00:00+00:00,-1027487.0,9.0,2.0,0.839918,1.280585e+08,0.798176,-0.034622,-0.046142,0.031842
2013-09-30 00:00:00+00:00,-1960657.0,9.0,1.0,0.837995,-1.194200e+07,0.456100,0.045633,0.126254,0.084477
2014-03-31 00:00:00+00:00,266891.0,10.0,2.0,0.835726,1.291060e+06,0.456100,0.046886,-0.015851,-0.031099
2014-06-30 00:00:00+00:00,799495.0,9.0,2.0,0.841958,2.668928e+07,0.684151,0.102837,0.088936,0.126996
2014-09-30 00:00:00+00:00,1061556.0,9.0,2.0,0.838406,-1.421000e+06,0.570125,-0.063900,-0.088103,0.005674
...,...,...,...,...,...,...,...,...,...
2016-12-31 00:00:00+00:00,-275203.0,22.0,7.0,0.853315,1.248487e+07,0.548697,0.013215,0.094596,0.161766
2016-03-31 00:00:00+00:00,17462287.0,51.0,18.0,0.864949,2.701012e+09,1.963746,0.150481,0.064416,0.202990
2016-06-30 00:00:00+00:00,-314233.0,55.0,22.0,0.859041,-3.262900e+07,2.265861,0.006737,-0.001962,0.156975
2016-09-30 00:00:00+00:00,-4078255.0,54.0,24.0,0.857151,-4.044620e+08,2.416918,-0.023709,0.110167,0.117647
2016-12-31 00:00:00+00:00,1427864.0,61.0,27.0,0.858612,3.098040e+08,2.265861,0.036835,0.024635,0.000342

In [20]:
rf = RandomForestRegressor(n_estimators = 10, random_state = 42)
rf.fit(train_feature,train_return)
test_predict = rf.predict(test_feature)
errors = numpy.mean((test_predict - test_return)**2)
print('Mean Square Error:', round(errors, 5))

Mean Square Error: 0.02477

In [21]:
test['prediction'] = test_predict
test

/Users/angli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,stock_id,x21,x1,good fund,irisk,x20,x4,1M Return,2M Return,3M Return,return,prediction
date,,,,,,,,,,,,
2017-03-31 00:00:00+00:00,00130H105,1120647.0,11.0,2.0,0.837398,1.189200e+07,0.456100,-0.018229,-0.046472,-0.032314,-0.016493,0.065199
2017-06-30 00:00:00+00:00,00130H105,1071697.0,13.0,5.0,0.843477,1.172300e+07,0.798176,-0.049614,-0.001777,-0.016493,-0.053435,-0.018978
2017-09-30 00:00:00+00:00,00130H105,1170723.0,16.0,5.0,0.850096,1.257500e+07,0.798176,-0.013429,-0.012545,-0.053435,-0.030439,-0.020228
2017-12-31 00:00:00+00:00,00130H105,238840.0,17.0,2.0,0.843434,1.674000e+06,0.684151,0.020735,-0.017241,-0.030439,0.071631,0.051284
2018-03-31 00:00:00+00:00,00130H105,625526.0,16.0,2.0,0.846921,9.838000e+06,1.026226,0.033119,0.049861,0.071631,0.242870,0.087090
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-30 00:00:00+00:00,V7780T103,1112898.0,42.0,12.0,0.858419,6.516600e+07,1.851852,0.038838,-0.102097,-0.114605,0.278769,0.048757
2017-03-31 00:00:00+00:00,Y09827109,1497676.0,59.0,28.0,0.858648,9.532270e+08,2.341390,0.047504,0.244781,0.290633,0.142796,0.122736
2017-06-30 00:00:00+00:00,Y09827109,-931031.0,60.0,31.0,0.860360,1.312300e+07,2.190332,-0.027540,0.061738,0.142796,-0.016334,-0.005493
2017-09-30 00:00:00+00:00,Y09827109,4266231.0,77.0,35.0,0.858136,1.180789e+09,2.870091,0.003351,0.036319,-0.016334,0.062756,0.140838
2017-12-31 00:00:00+00:00,Y09827109,-1875008.0,99.0,40.0,0.859313,-1.993160e+08,3.625378,-0.053775,0.059207,0.062756,-0.132044,-0.060407

In [22]:
test.to_csv('prediction.csv')