In [1]:
import pandas as pd
import numpy as np 
import datetime

In [2]:
prices = pd.read_csv('prices.csv')
factors = pd.read_csv('13f.csv')

In [3]:
prices.columns = ['stock_id','exchange','ticker','date','volume','open','high','low','close']
factors.columns = ['iRECORD_ID','iCIK','stock_id','iPERIOD_END','date','iAMEND','iRESTATEMENT','iTYPE','iQTY','iMARKET_VALUE','iLONG_FRACTION']

In [4]:
prices_copy = prices.copy()
factors_copy = factors.copy()

In [5]:
factors

,iRECORD_ID,iCIK,stock_id,iPERIOD_END,date,iAMEND,iRESTATEMENT,iTYPE,iQTY,iMARKET_VALUE,iLONG_FRACTION
0,4443748,216235,055622104,1999-09-30,2000-01-03,0,0,0,28287.0,3134550.0,0.009282
1,4443749,216235,020039103,1999-09-30,2000-01-03,0,0,0,79199.0,5690620.0,0.016851
2,4443750,216235,713448108,1999-09-30,2000-01-03,0,0,0,186140.0,5795950.0,0.017163
3,4443751,216235,002824100,1999-09-30,2000-01-03,0,0,0,169555.0,6290420.0,0.018627
4,4443752,216235,05964H105,1999-09-30,2000-01-03,0,0,0,16897.0,174250.0,0.000516
...,...,...,...,...,...,...,...,...,...,...,...
57569231,74561590,1730479,039483102,2020-03-31,2020-04-23,0,0,0,300.0,11000.0,0.000086
57569232,74561591,1730479,88160R101,2020-03-31,2020-04-23,0,0,0,25.0,13000.0,0.000102
57569233,74561592,1730479,921937793,2020-03-31,2020-04-23,0,0,0,230.0,25000.0,0.000196
57569234,74561593,1730479,863667101,2020-03-31,2020-04-23,0,0,0,1030.0,171000.0,0.001341
57569235,74561594,1730479,232806109,2020-03-31,2020-04-23,0,0,0,100.0,2000.0,0.000016

In [6]:
factors = factors[factors['iAMEND']== 0]
factors = factors[factors['iRESTATEMENT']== 0]
factors = factors[factors['iTYPE']== 0]
factors

,iRECORD_ID,iCIK,stock_id,iPERIOD_END,date,iAMEND,iRESTATEMENT,iTYPE,iQTY,iMARKET_VALUE,iLONG_FRACTION
0,4443748,216235,055622104,1999-09-30,2000-01-03,0,0,0,28287.0,3134550.0,0.009282
1,4443749,216235,020039103,1999-09-30,2000-01-03,0,0,0,79199.0,5690620.0,0.016851
2,4443750,216235,713448108,1999-09-30,2000-01-03,0,0,0,186140.0,5795950.0,0.017163
3,4443751,216235,002824100,1999-09-30,2000-01-03,0,0,0,169555.0,6290420.0,0.018627
4,4443752,216235,05964H105,1999-09-30,2000-01-03,0,0,0,16897.0,174250.0,0.000516
...,...,...,...,...,...,...,...,...,...,...,...
57569231,74561590,1730479,039483102,2020-03-31,2020-04-23,0,0,0,300.0,11000.0,0.000086
57569232,74561591,1730479,88160R101,2020-03-31,2020-04-23,0,0,0,25.0,13000.0,0.000102
57569233,74561592,1730479,921937793,2020-03-31,2020-04-23,0,0,0,230.0,25000.0,0.000196
57569234,74561593,1730479,863667101,2020-03-31,2020-04-23,0,0,0,1030.0,171000.0,0.001341
57569235,74561594,1730479,232806109,2020-03-31,2020-04-23,0,0,0,100.0,2000.0,0.000016

In [7]:
factors = factors.drop('iAMEND', axis = 1)
factors = factors.drop('iRESTATEMENT', axis = 1)
factors = factors.drop('iTYPE', axis = 1)
factors

,iRECORD_ID,iCIK,stock_id,iPERIOD_END,date,iQTY,iMARKET_VALUE,iLONG_FRACTION
0,4443748,216235,055622104,1999-09-30,2000-01-03,28287.0,3134550.0,0.009282
1,4443749,216235,020039103,1999-09-30,2000-01-03,79199.0,5690620.0,0.016851
2,4443750,216235,713448108,1999-09-30,2000-01-03,186140.0,5795950.0,0.017163
3,4443751,216235,002824100,1999-09-30,2000-01-03,169555.0,6290420.0,0.018627
4,4443752,216235,05964H105,1999-09-30,2000-01-03,16897.0,174250.0,0.000516
...,...,...,...,...,...,...,...,...
57569231,74561590,1730479,039483102,2020-03-31,2020-04-23,300.0,11000.0,0.000086
57569232,74561591,1730479,88160R101,2020-03-31,2020-04-23,25.0,13000.0,0.000102
57569233,74561592,1730479,921937793,2020-03-31,2020-04-23,230.0,25000.0,0.000196
57569234,74561593,1730479,863667101,2020-03-31,2020-04-23,1030.0,171000.0,0.001341
57569235,74561594,1730479,232806109,2020-03-31,2020-04-23,100.0,2000.0,0.000016

In [10]:
factors['gap_day'] = pd.to_datetime(factors['date'])-pd.to_datetime(factors['iPERIOD_END'])
factors = factors.drop('iPERIOD_END', axis = 1)
factors

,iRECORD_ID,iCIK,stock_id,date,iQTY,iMARKET_VALUE,iLONG_FRACTION,gap_day
0,4443748,216235,055622104,2000-01-03,28287.0,3134550.0,0.009282,95 days
1,4443749,216235,020039103,2000-01-03,79199.0,5690620.0,0.016851,95 days
2,4443750,216235,713448108,2000-01-03,186140.0,5795950.0,0.017163,95 days
3,4443751,216235,002824100,2000-01-03,169555.0,6290420.0,0.018627,95 days
4,4443752,216235,05964H105,2000-01-03,16897.0,174250.0,0.000516,95 days
...,...,...,...,...,...,...,...,...
57569231,74561590,1730479,039483102,2020-04-23,300.0,11000.0,0.000086,23 days
57569232,74561591,1730479,88160R101,2020-04-23,25.0,13000.0,0.000102,23 days
57569233,74561592,1730479,921937793,2020-04-23,230.0,25000.0,0.000196,23 days
57569234,74561593,1730479,863667101,2020-04-23,1030.0,171000.0,0.001341,23 days
57569235,74561594,1730479,232806109,2020-04-23,100.0,2000.0,0.000016,23 days

In [15]:
factors = factors[factors['gap_day']<=datetime.timedelta(days = 45)]
factors = factors.drop('gap_day', axis = 1)
factors

,iRECORD_ID,iCIK,stock_id,date,iQTY,iMARKET_VALUE,iLONG_FRACTION
83,4443831,1044330,079860102,2000-01-03,85224.0,2863.0,0.008262
84,4443832,1044330,852061100,2000-01-03,3780.0,227.0,0.000655
85,4443833,1044330,291345106,2000-01-03,11000.0,330.0,0.000952
86,4443834,1044330,031162100,2000-01-03,8834.0,464.0,0.001339
87,4443835,1044330,693506107,2000-01-03,7583.0,329.0,0.000949
...,...,...,...,...,...,...,...
57569231,74561590,1730479,039483102,2020-04-23,300.0,11000.0,0.000086
57569232,74561591,1730479,88160R101,2020-04-23,25.0,13000.0,0.000102
57569233,74561592,1730479,921937793,2020-04-23,230.0,25000.0,0.000196
57569234,74561593,1730479,863667101,2020-04-23,1030.0,171000.0,0.001341
57569235,74561594,1730479,232806109,2020-04-23,100.0,2000.0,0.000016

In [16]:
prices = prices.set_index('date')
prices.index = pd.DatetimeIndex.tz_localize(pd.to_datetime(prices.index), tz = 'UTC')
prices

,stock_id,exchange,ticker,volume,open,high,low,close
date,,,,,,,,
1996-01-02 00:00:00+00:00,013817101,N,AA,2808000,13.1250,13.6875,13.0625,13.5938
1996-01-03 00:00:00+00:00,013817101,N,AA,5008800,13.5312,13.8438,13.5000,13.8125
1996-01-04 00:00:00+00:00,013817101,N,AA,4276000,13.7188,13.9375,13.5938,13.9375
1996-01-05 00:00:00+00:00,013817101,N,AA,2618400,13.8750,14.1250,13.8125,13.8438
1996-01-08 00:00:00+00:00,013817101,N,AA,3471200,13.7812,13.8750,12.8125,13.0938
...,...,...,...,...,...,...,...,...
2020-05-22 00:00:00+00:00,98979F107,A,ZOM,14608310,0.2200,0.2205,0.2000,0.2148
2020-05-26 00:00:00+00:00,98979F107,A,ZOM,13622890,0.2101,0.2200,0.2050,0.2108
2020-05-27 00:00:00+00:00,98979F107,A,ZOM,220125900,0.1460,0.1652,0.1438,0.1632
2020-05-28 00:00:00+00:00,98979F107,A,ZOM,65927280,0.1705,0.1730,0.1550,0.1594
2020-05-29 00:00:00+00:00,98979F107,A,ZOM,33669380,0.1600,0.1620,0.1540,0.1577

In [17]:
factors = factors.set_index('date')
factors.index = pd.DatetimeIndex.tz_localize(pd.to_datetime(factors.index), tz = 'UTC')
factors

,iRECORD_ID,iCIK,stock_id,iQTY,iMARKET_VALUE,iLONG_FRACTION
date,,,,,,
2000-01-03 00:00:00+00:00,4443831,1044330,079860102,85224.0,2863.0,0.008262
2000-01-03 00:00:00+00:00,4443832,1044330,852061100,3780.0,227.0,0.000655
2000-01-03 00:00:00+00:00,4443833,1044330,291345106,11000.0,330.0,0.000952
2000-01-03 00:00:00+00:00,4443834,1044330,031162100,8834.0,464.0,0.001339
2000-01-03 00:00:00+00:00,4443835,1044330,693506107,7583.0,329.0,0.000949
...,...,...,...,...,...,...
2020-04-23 00:00:00+00:00,74561590,1730479,039483102,300.0,11000.0,0.000086
2020-04-23 00:00:00+00:00,74561591,1730479,88160R101,25.0,13000.0,0.000102
2020-04-23 00:00:00+00:00,74561592,1730479,921937793,230.0,25000.0,0.000196
2020-04-23 00:00:00+00:00,74561593,1730479,863667101,1030.0,171000.0,0.001341
2020-04-23 00:00:00+00:00,74561594,1730479,232806109,100.0,2000.0,0.000016

In [18]:
prices = prices['2013-1-1':]
factors = factors['2013-1-1':]
prices

,stock_id,exchange,ticker,volume,open,high,low,close
date,,,,,,,,
2013-12-23 00:00:00+00:00,001038108,PK,AFAP,0,273.2500,273.2500,273.2500,273.2500
2015-04-15 00:00:00+00:00,87243T100,PK,CBDG,0,0.8000,0.8000,0.8000,0.8000
2013-10-17 00:00:00+00:00,925490203,O,VRTA,0,6.1600,6.3200,6.1600,6.2400
2014-02-14 00:00:00+00:00,83607W102,PK,SHSO,0,0.0001,0.0001,0.0001,0.0001
2013-05-01 00:00:00+00:00,G0440M128,PK,AQPBF,0,0.6900,0.6900,0.6900,0.6900
...,...,...,...,...,...,...,...,...
2020-05-22 00:00:00+00:00,98979F107,A,ZOM,14608310,0.2200,0.2205,0.2000,0.2148
2020-05-26 00:00:00+00:00,98979F107,A,ZOM,13622890,0.2101,0.2200,0.2050,0.2108
2020-05-27 00:00:00+00:00,98979F107,A,ZOM,220125900,0.1460,0.1652,0.1438,0.1632
2020-05-28 00:00:00+00:00,98979F107,A,ZOM,65927280,0.1705,0.1730,0.1550,0.1594
2020-05-29 00:00:00+00:00,98979F107,A,ZOM,33669380,0.1600,0.1620,0.1540,0.1577